html,
body{
	height: 100%;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	letter-spacing: 2px;
}

.a-estratek {
	text-decoration: none;
	color: white;
	padding: 0 !important;
}
.a-estratek:hover, .a-estratek:focus {
	text-decoration: none;
	color: #ff1967;
	cursor: pointer;
}

.bold-span {
	background-color: black;
	color: white;
	padding: 5px 15px !important;
	border-radius: 30px;
}
/*--------------CSS for HEADER---------------------*/
/*.header{
	background-color: #ffffff;
	height: 100%;
	letter-spacing: 2px;
	position: relative;
	max-width: 1280px;
	margin: 0 auto;
	opacity: 1;
}
.header h1{
	font-family: 'Montserrat', sans-serif;
	font-size: 90px;
}
.header h2{
	font-family: 'Open Sans', sans-serif;
}
.social{
	text-align: right;
	font-size: 20px !important;
	overflow: hidden;
	margin-top: 15px;
}
.social a{
	display: inline-block;
	padding: 0 15px;
	color: #000000;
}
.tagline{
	position: absolute;
	top: 40%;
	left: 11.55%;
	text-align: center;
}
.down{
	position: absolute;
	top: auto;
	right: auto;
	left: 25px;
	width: 100%;
	text-align: center;
	bottom: 85px;
	font-family: 'Montserrat', sans-serif;
}*/
#head{
	height: 100%;
	letter-spacing: 2px;
}
#head h1{
	font-family: 'Montserrat', sans-serif;
	font-size: 90px;
}
#tagline{
	margin-top: 10%;
}
#tagline *{
	padding-bottom: 25px;
}
#tagdown{
	margin-top: 100px;
	font-family: 'Montserrat', sans-serif;
}
#social *{
	padding: 10px 7px;
	font-size: 20px !important;
	overflow: hidden;
}
#social a{
	display: inline-block;
	color: #000000;
}

.btn-default{
	color: #ffffff;
	background-color: #ff1967;
}
.btn-circle{
	border-radius: 30px !important;
	font-size: 14px;
	padding: 12px 30px !important;
	line-height: 18px;
}
h3{
	font-size: 40px;
	font-family: 'Montserrat', sans-serif;
}
.title{
	padding: 20px 0;
	text-align: center;
}
.profile{
	padding-top: 10px;
}
img{
	height: 300px;
	width: 300px;
}
/*--------------CSS for ABOUT---------------------*/
#wrap{
	padding-bottom: 30px;
}
#wrap div{
	padding-left: 30px;
	padding-right: 30px;
}
#about-content{
	padding-bottom: 30px;
}
h4{
	font-size: 20px;
	font-weight: bold;
}
#left-side h4{
	padding-bottom: 3px;
}
p{
	padding-bottom: 10px;
}
/*---------SKILL CSS--------*/
#skill div{
	padding-left: 30px;
	padding-right: 30px;
}
#skill div.progress{
	padding-left: 0px;
	padding-right: 0px;
}
#sked-content{
	padding: 40px 0;
}
#skill-content *{
	padding-bottom: 15px;
}
/*-----------PROJECTS--------------*/
#wrap, #project{
	background: #dadada;
}
.progress-bar{
	background: #333333;
}
/*--------------CSS for FOOTER---------------------*/
.last-color{
	color: #ffffff;
	background-color: #333;
	padding-top: 15px;
	padding-bottom: 5px;
}
.last-text{
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	color:#FFFFFF;
}
.heart{
	color: #ff0000;
}
.social-foot{
	text-align: right;
	font-size: 20px !important;
	overflow: hidden;
}
.social-foot a{
	display: inline-block;
	padding: 0 15px;
	color: #ffffff;
}
/*--------------GALLERY-----------------*/
.filter-button
{
    font-size: 18px;
    border: 1px solid #ff1967;
    border-radius: 30px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 30px;

}
.filter-button:hover
{
    font-size: 18px;
    border: 1px solid #6f0000;
    border-radius: 30px;
    text-align: center;
    color: #ffffff;
    background-color: #ff1967;

}
.btn-default:active .filter-button:active ::selection
{
    background-color: #ff1967;
    color: white;
}

.port-image
{
    width: 100%;
}

.gallery_product
{
    margin-bottom: 30px;
}

/*--------PREFOOOT-------*/
#see-more{
	padding: 30px 30px;
	font-size: 50px;
	font-family: 'Montserrat', sans-serif;
}
#see-more a{
	color: #1f1f1f;
}
#see-more a:hover{
	color: #000000;
}
/*-------MEDIA QUERYS------*/
/* Portrait and Landscape */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 1) {
		#tagline{
			margin-top: 30%;
		}
		.profile{
			margin-bottom: 50px;
		}

}
/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {
		#head h1{
			font-size: 50px;
		}
		#tagline{
			margin-top: 35%;
		}
		#social{
			text-align: center;
		}
		.social-foot{
			text-align: center;
		}
		.profile{
			margin-bottom: 50px;
		}

}
/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
		body{
			font-size: 14px;
		}
		#head h1{
			font-size: 40px;
		}
		#tagline{
			margin-top: 25%;
		}
		#tagdown{
			margin-top: 60px;
		}
		#social{
			text-align: center;
		}
		.profile{
			margin-bottom: 50px;
		}
		.social-foot{
			text-align: center;
		}
}
/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

}
