html,
body{
	height: 100%;
	font-family: 'Montserrat', sans-serif;
}
/*--------------CSS for HEADER---------------------*/
.header{
	background-color: #ffffff;
	height: 100%;
	letter-spacing: 2px;
	color: #000000;
	position: relative;
	max-width: 1280px;
	margin: 0 auto;
	opacity: 1;
}
.header h1{
	font-size: 90px;
}
.header h2{
	font-family: 'Open Sans', sans-serif;
}
.social{
	text-align: right;
	font-size: 20px !important;
	overflow: hidden;
	margin-top: 15px;
}
.social a{
	display: inline-block;
	padding: 0 15px;
	color: #000000;
}
.tagline{
	position: absolute;
	top: 40%;
	left: 11.55%;
	text-align: center;
}
.down{
	position: absolute;
	top: auto;
	right: auto;
	left: 25px;
	width: 100%;
	text-align: center;
	bottom: 85px;
}
.btn-default{
	color: #ffffff;
	background-color: #ff1967;
}
.btn-circle{
	border-radius: 30px !important;
	font-size: 14px;
	padding: 12px 30px !important;
	line-height: 18px;
}

/*--------------CSS for ABOUT---------------------*/
.about{
}
section.about>div.container-fluid>div.container{
	background-color: #333;
	color: #ffffff;
}
/*--------------CSS for WORK---------------------*/
.work{
}
section.work>div.container-fluid>div.container{
	background-color: #333;
	color: #ffffff;
}
/*--------------CSS for CONTACT---------------------*/
.contact{

}
/*--------------CSS for FOOTER---------------------*/
.last-color{
	color: #ffffff;
	background-color: #333;
	padding: 20px 0;
}
.last-text{
	font-family: 'Open Sans', sans-serif;
}
.heart{
	color: #ff0000;
}
.social-foot{
	text-align: right;
	font-size: 20px !important;
	overflow: hidden;
}
.social-foot a{
	display: inline-block;
	padding: 0 15px;
	color: #ffffff;
}
